/* __________________ SKILS SECTION STYLE________________ */
.skills_section{
  padding: 10px;
  padding-top: 70px;
}
.section_title_box{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block: 20px;
}
.section_title_box .title{
  font-size: var(--h2);
  flex-shrink: 0;
}
.section_title_box .hr_line{
  height: .1px;
  background: white;
  width: 100px;
  width: 100%;
}
.skills_icons_box{
  margin-block: 20px;
}
.skills_icons_box .skill_icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 40px;
}
.skill_icons img{
  max-width: var(--icon_size);
}

/* __________________ SKILS SECTION STYLE________________ */
