@font-face{
  font-family: GoogleSans;
  src: url(./Assets/GoogleSansCode-VariableFont_wght.ttf);
}

:root{
  --text_color: #e4e9e1;
  --a_color: #9e829a;
  --has_color: #db28c2;
  --background_color: #0f060d;
  --lighter_bg: #512246;
  --h1: 30px;
  --h2: 25px;
  --h3: 20px;
  --h4: 16px;
  --h5: 15px;
  --h6: 13px;
  --icon_size: 50px;
}
@media(min-width:700px){
  :root{
    --h1: 70px;
    --h2: 45px;
    --h3: 40px;
    --h4: 20px;
    --h5: 19px;
    --h6: 17px;
  }
}
@media(max-width:400px){
  :root{
    --h1: 29px;
    --h2: 24px;
    --h3: 19px;
    --h4: 15px;
    --h5: 14px;
    --h6: 12px;
    --icon_size: 40px;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GoogleSans;
}

.App{
  padding: 20px;
  padding-top: 70px;
  color: var(--text_color);
}
body{
  background-color: var(--background_color);
  font-size: var(--h4);
}
.has{
  color: var(--has_color);
}
a{
  text-decoration: none;
  color: var(--a_color);
}

